@using PixelIt.ViewModel
@model AddPostViewModel

@{ 
    ViewData["Title"] = "Add Post";
}

<form enctype="multipart/form-data" asp-action="CreatePost" method="post" class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="Post.PostImage" class="form-label">Post Image</label>
        <input type="file" asp-for="Post.PostImage" />
        <small class="form-text text-muted">Insert here your Image</small>
        <span asp-validation-for="Post.PostImage" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Post.Description" class="form-label">Post Description</label>
        <input asp-for="Post.Description" class="form-control" />
        <span asp-validation-for="Post.Description" class="text-danger"></span>
    </div>
  @*  <div class="mb-3">
            <div class="mb-3">
                <label asp-for="PostCategories" class="form-label">Post Category</label>
                <div class="border rounded p-3">
                    <div class="mb-2">
                        <div class="input-group">
                            <input type="text" id="categoryInput" class="form-control"
                                   placeholder="Add your own category..." />
                            <button type="button" class="btn btn-outline-primary">
                                <i class="bi bi-plus"></i> Add
                            </button>
                        </div>
                        <small class="form-text text-muted">
                            Puoi aggiungere categorie personalizzate o selezionare da quelle esistenti
                        </small>
                    </div>
                    @if (ViewBag.Categories != null && ViewBag.Categories.Count > 0)
                    {
                        <div class="mb-3">
                            <select id="existingCategory" class="form-select">
                                <option value="">-- Seleziona una categoria esistente --</option>
                                @foreach (var category in ViewBag.Categories)
                                {
                                    <option value="@category.Name">@category.Name</option>
                                }
                            </select>
                        </div>
                    }
                    else
                    {
                        <div></div>
                    }
                    <div id="newCategory" class="@(ViewBag.Categories != null && ViewBag.Categories.Count > 0)">
                        <input asp-for="PostCategories" class="form-control" />
                        <span asp-validation-for="PostCategories" class="text-danger"></span>
                    </div>
                </div>
    </div> *@
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Crea Post</button>
            <a asp-action="Index" class="btn btn-secondary">Torna alla Home</a>
        </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
         $('#useNewCategory').change(function() {
                 if($(this).is(':checked')) {
                     $('#newCategoryInput').removeClass('d-none');
                    $('#existingCategory').prop('disabled', true);
                 } else {
                     $('#newCategoryInput').addClass('d-none');
                     $('#existingCategory').prop('disabled', false);
                 }
             });


             $('#existingCategory').change(function() {
                 if(!$('#useNewCategory').is(':checked')) {
                     $('#Category_Name').val($(this).val());
                 }
             });

        $('#Post_PostImage').on('change', function() {
                         $('#Postimg').remove();

                         if (this.files && this.files[0]) {
                             var reader = new FileReader();

                             reader.onload = function(e) {
                                 var previewDiv = $('<div class="mt-3" id="Postimg-container"></div>');
                                 var previewImg = $('<img id="Postimg" class="img-fluid rounded-2 mt-2" style=" max-height: 150px;" />');
                                 previewImg.attr('src', e.target.result);
                                 previewDiv.append(previewImg);
                                 $('#Post_PostImage').after(previewDiv);
                             };

                             reader.readAsDataURL(this.files[0]);
                         };
                     });
    </script>
}





@* @section Scripts { *@
@*     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} *@
    
@*     <script> *@
@*         $(document).ready(function() { *@
@*             // Gestione della selezione categoria esistente o nuova *@
@*            
            
@*             // Anteprima dell'immagine *@
@*             $('#Post_ImageUrl').on('input', function() { *@
@*                 var url = $(this).val(); *@
@*                 if (url) { *@
@*                     if ($('#imagePreview').length === 0) { *@
@*                         $(this).after('<div class="mt-2"><img id="imagePreview" class="img-fluid rounded mt-2" style="max-height: 200px;" /></div>'); *@
@*                     } *@
@*                     $('#imagePreview').attr('src', url); *@
@*                 } else { *@
@*                     $('#imagePreview').remove(); *@
@*                 } *@
@*             }); *@
@*         }); *@
@*     </script> *@
@* } *@